<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title></title>
</head>

<body>
  <nav>
    <a href="/logs/new">Add a New Log</a>
  </nav>
  <h1>Logs Index Page</h1>
  <ul>
    <% logs.forEach(log=> { %>
      <li>
        <a href="/logs/<%=log._id %>">
          <%=log.title %>
        </a>
      </li>
      <% }) %>
  </ul>
</body>

</html>